In [1]:
import requests


data = requests.get("https://api.covid19api.com/summary")

In [20]:
# type(data.json())
# data.json()
d=data.json()
# for key in d:
#     print(key,d["Countries"])

import numpy as np
import pandas as pd
# print ()
# d=data.json().Countries
pd.DataFrame(d["Countries"])
# pd.head()

            Country CountryCode  ... TotalRecovered                  Date
0       Afghanistan          AF  ...            558  2020-05-11T17:21:26Z
1           Albania          AL  ...            650  2020-05-11T17:21:26Z
2           Algeria          DZ  ...           2678  2020-05-11T17:21:26Z
3           Andorra          AD  ...            550  2020-05-11T17:21:26Z
4            Angola          AO  ...             13  2020-05-11T17:21:26Z
..              ...         ...  ...            ...                   ...
180        Viet Nam          VN  ...            241  2020-05-11T17:21:26Z
181  Western Sahara          EH  ...              5  2020-05-11T17:21:26Z
182           Yemen          YE  ...              1  2020-05-11T17:21:26Z
183          Zambia          ZM  ...            117  2020-05-11T17:21:26Z
184        Zimbabwe          ZW  ...              9  2020-05-11T17:21:26Z

[185 rows x 10 columns]

In [22]:
data = pd.DataFrame(d["Countries"])
data.to_csv('covid-d.csv')